section {
  padding: 1px;
  margin: 2px;
}
article {
  padding: 15px 0;
  margin: 15px 0;
  font-weight: bold;
}
p {
  padding: 15px 0;
  margin: 15px 0;
}
.noShow {
  display: none;
}
#errorMessage{
  background-color: yellow;
  width: 100%;
  display: none;
}
